body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;
}

#cabecera {
    background: url("../imagenes/dragon.png") 10px 10px;
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    width: 70%;
    
    background-color: crimson;
    color: white;
    border-color: crimson;




}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#contenedor {
    background-color: white;
    color: black;
    text-align: center;
    margin: auto;
    

}
#footer {
    background-color: darksalmon;
    color: black;
}

#letraCabecera {
    size: 50px;
}

